/*td,
th,
tr,
table {
    border-top: 1px solid black;
        width: 100%!important;
}*/

td.producto{
    width: 117px;
    max-width: 117px;
}

td.cantidad {
    width: 117px;
    max-width: 117px;
    word-break: break-all;
}

td.precio {
    width: 117px;
    max-width: 117px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}
p {
    margin: 5px 0px !important;
}
img {
    max-width: inherit;
    width: inherit;
}*/